body {
    background-color: #57a2f1;
}

h1 {
    color: #ffffff;
    text-align: center;
}

.messages {
    margin-top: 20px;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-info {
    background-color: #cce5ff;
    color: #004085;
}
