<main>
    <section class="posts-section">
        <h1>{{name}}</h1>
        <div class="sort-by">
            <button id="sort-btn">Sort by <i class="fas fa-sort"></i></button>
        </div>

        <section class="right-section">

            {% include 'posts/post.html' %}

        </section>
    </section>
    <aside class="sidebar">
        <div class="user-info-container">

            {% if is_owner %}
                <button class="edit-icon" aria-label="Edit Profile">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
            {% endif %}

            <div class="user-info">
                <div class="profile-large">
                    <img src="{{ profile_picture }}" alt="profile pic">
                </div>
                <h2>{{ name }}</h2>
                <p>{{ headline }}</p>
                <p><strong>Blogs Published:</strong>{{posts|length}}</p>
                <p><strong>Education:</strong> {{ education }}</p>
                <p><strong>Biography:</strong> {{ bio }}</p>
            </div>
        </div>
    </aside>