<main>
    <section class="posts-section">
        <h1>{{user.name}}</h1>
        <div class="sort-by">
            <button id="sort-btn">Sort by <i class="fas fa-sort"></i></button>
        </div>

        <section class="right-section">

            {% include 'posts/post.html' %}

        </section>
    </section>
    <aside class="sidebar">
        <div class="user-info-container">

            <button class="edit-icon" aria-label="Edit Profile">
                <i class="fas fa-ellipsis-h"></i>
            </button>

            <div class="user-info">
                <div class="profile-large">
                    <i class="fas fa-user"></i>
                </div>
                <h2>{{ user.name }}</h2>
                <p>{{ headline }}</p>
                <p><strong>Blogs Published:</strong>{{user.id}}</p>
                <p><strong>Education:</strong> {{ education }}</p>
                <p><strong>Biography:</strong> {{ bio }}</p>
            </div>
        </div>
    </aside>