.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    position: relative; /* Important for positioning the icons */
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.profile i {
    font-size: 1.5rem;
    color: #666;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.card a {
    color: #154c79;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.card a i {
    margin-left: 5px;
}

html, body {
    height: 100%; /* Make the structure full height */
}

body {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
}

main {
    flex: 1; 
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.full-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.card .read-more {
    color: #154c79;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
}

.tag {
    display: inline-block;
    background-color: #1e81b0; /* Blue color */
    color: white;
    padding: 5px 10px;
    border-radius: 20px; /* Makes the shape oval */
    font-size: 12px;
    margin-right: 5px;
    margin-top: 10px;
}

.tags {
    margin-top: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.post-time {
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 15px;
}


