{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write & Shine</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/like.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}">
    <link rel="stylesheet" href="{% static 'css/delete-post.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_post.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    {% include 'components/header.html' %}
    {% include 'profiles/profile.html' %}
    {% if is_owner %}
        {% include 'profiles/edit_profile.html' %}
    {% endif %}
    {% include 'posts/create_post.html' %}
    </main>

    <script src="{% static 'js/header.js' %}">
    </script>
    <script src="{% static 'js/post.js' %}">
    </script>
    <script src="{% static 'js/like.js' %}" defer> </script>
    <script src="{% static 'js/comment.js' %}" defer>
    </script>
    <script src="{% static 'js/create_post.js' %}" defer>
    </script>

    <script src="{% static 'js/profile.js' %}">

    </script>

    {% include 'components/footer.html' %}

</body>

</html>