<header>
    <div class="logo"> Write & Shine</div>
    <nav>
        {% if user.is_authenticated %}
            <a href="#" id="postModalBtn" >Write</a>
        {% endif %}
        <a href="{% url 'get_posts' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        {% if user.is_authenticated %}
        <div class="dropdown">
            <a href="#"><i class="fas fa-user-circle user-icon"></i></a>
            <div class="dropdown-content">
                <a href="{% url 'get_profile' user.id %}">Profile</a>
                <a href="{% url 'logout_api' %}">Logout</a>
            </div>
        </div>
        {% else %}
        <a href="{% url 'login_api' %}">Login</a>
        {% endif %}
    </nav>
</header>